*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.main-container{
    width:80%;
    margin: 0 auto;
     border: 1px solid red; 
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
}
nav {
    position:fixed;
    background-color:transparent;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 1;
    
    
}
nav ul{
    display: flex;
}
.navbar .nav-list .list-item{
    padding: 1em;
    margin-right: 1em;
}
.navbar .nav-list .list-item a{
    text-decoration: none;
    color: black;
}
body{
    height: 700px;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    margin-right:2em;
}

section.topic{
    display: flex;
    width:100%;
    height:500px;
    border: 1px solid black; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
section.topic .left-side, section.topic .right-side {
    width: 50%;
    border: 1px solid red; 
    /* padding: 2.5em; */
}
footer{
    height: 150px;
    background-color: #333;
    width: 100%;
}